{{> header}}
<div class="waves-full-background">
		<div class="site-wrapper">
			<!-- <img src="../img/bear.svg" id="bear-brown"/>
			<img src="../img/bear-outline.svg" id="bear-outline"/> -->
			<!-- <div id="tagline">Make the First Move.<br>Find Your True Bruin.</div> -->
			<!-- <a href="/auth/facebook"><div class="button button-white" id="signup-button">SIGN UP NOW</div></a> -->
			<div class="about-cover-heading">Welcome to Indus.</div>
<div class="about-cover-sub">GET INVOLVED</div>
<div "about-media-buttons"></div>
		</div>
	</div>
        <div class="jumbotron"> <p>
            This is place to put content. You can put slider, short description about your website and place some links for navigation.
        </p></div>
    </div>
{{> footer}}
