{{> header}}
<div class="waves-full-background">
		<div class="site-wrapper">
			<div class="about-cover-heading">Welcome to Indus.</div>
<!-- <div class="about-cover-sub">GET INVOLVED</div> -->
<div "about-media-buttons"></div>
		</div>
	</div>
        <div class="jumbotron">
			<p>
            	This is place to put content. You can put slider, short description about your website and place some links for navigation.
        	</p>
	</div>
{{> footer}}
